{% extends "base.html" %}

{% macro home_page(section) %}
    <main>
        <article>
            <section class="body">
                {{ post_macros::page_header(title=section.title) }}
                {{ section.content | safe }}
            </section>
        </article>
    </main>
{% endmacro home_page %}

{% block main_content %}
    {{ self::home_page(section=section) }}

    {% set archive = get_section(path="archive/_index.md") %}
    {% set recent = archive.pages | slice(end=5) %}
    <div class="recent-posts">
        <h2 class="recent-posts-title">Recent posts</h2>
        <main class="post-list">
            {{ post_macros::list_posts(pages=recent) }}
        </main>
    </div>
{% endblock main_content %}
